{{ define "main" }} {{ .Content}}

<div style="display: flex; justify-content: center;">
  <div
  class="parent"
    style="
    width: fit-content;
    "
  >
    {{ range .Pages }}
    <div
      style="
        background-color: white;
        margin-top: 1rem;
    
        border: 2px solid gray;
        
      "
    >
      <a href="{{ .Permalink }}">{{.Title}}</a>
  
      <p style="font-size: 13px;">{{.Date | time.Format ":date_medium"}}</p>
      
    </div>
  
    {{end}}
  </div>
</div>


{{end}}
